html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
 }
 
 body {
     position: fixed;
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;   
    padding: 0;
    background-color: rgb(255, 218, 148);
}
.signUp{
    pointer-events: none;
    opacity: 0;
}
.signIn{
    pointer-events:visible;
    opacity: 1;
}
#isignIn{
    position:absolute;
    font-family: arial;
    font-size: 50px;
    color: rgb(0, 0, 0);
    width: 60%;
    margin-left: 35%;
    margin-top: 15%;
}
.dataEnterSqr {
    /* pointer-events: none;
    opacity: 0; */
    background-color: rgb(240, 239, 209);
    width: 600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    position:relative;
    border-radius: 100px;
}
#lblUsername{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 42%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: arial;
}
#inptUsername{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 50%;
    height: 40px;
}
#lblPassword{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 67%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: arial;
}
#inptPassword{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 75%;
    height: 40px;

}
#btnSignIn{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 95%;
    height: 25px;
}
#btnSignUp{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 95%;
    height: 25px;
}
#noacc{
    position:absolute;
    width: 50%;
    margin-left: 25%;
    margin-top: 110%;
    font-size: 18px;
    color: rgb(87, 87, 87);
    font-family: arial;
}

/* main */

.mainBlock{
    pointer-events: none;
    opacity: 0;
}

.leftBlock{
    
    background-color: rgba(203, 255, 160, 0.575);
    width: 15%;
    height: 100%;
    margin-top: 0;
    position:fixed;

}
.headerBlock{
    background-color: rgba(221, 185, 107, 0.582);
    width: 100%;
    height: 250px; 
    margin-top: 0px;
    margin-left: 15%;
    position:absolute;
}
.contentBlock{
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 100%;
    margin-left: 15%;
    margin-top: 250px;
    position:absolute;
}
#tileLbl{
    position:absolute;
    width: 350px;
    font-size: 30px;
    padding: 40px;
    margin: 10px auto;
    text-align: justify;
    
}
#underTitleLbl{
    position:absolute;
    width: 28%;
    font-size: 18px;
    padding-top: 130px;
    padding-left: 50px;
    margin: 10px auto;
    text-align: justify;
    color: rgb(80, 79, 79);
}
.btnHome{
    width: 80%;
    height: 50px;
    margin-top: px;
    margin-left: 10%;
    font-size: 35px;
}
.btnsBlock{
    margin-top: 250px;
}