@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    --headerHeight: 200px;
    --labelUnity-width: 450px;
    --profile-width: 200px;
    --height-NavPanel: calc(var(--headerHeight) / 3);
 }
 
 body {
     position: fixed;
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;   
    padding: 0;
    background: linear-gradient(90deg, #c6ffdd, #fbd786, #f7797d);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 50% 0%;
	}
}
.btnsForm{
    position:absolute;
    width: 60%;
    margin-left: 20%;
    margin-top: 95%;
    height: 36px;
    border-radius: 18px;
    background-color: #5a5a5a;
    border: 0px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 2px solid #5a5a5a;
}
.signUp{
    pointer-events: none;
    opacity: 0;
}
.signIn{
    pointer-events:visible;
    opacity: 1;
}
#isignIn{
    position:absolute;
    font-family: arial;
    font-size: 50px;
    color: #5a5a5a;
    width: 60%;
    margin-left: 35%;
    margin-top: 15%;
}
.btnsForm:hover{
    background-color: white;
    color: #5a5a5a;
}
.btnsChangeForm{
    background-color: white;
    color: #5a5a5a;
    margin-top: 107%;
}
.btnsChangeForm:hover{
    background-color: #5a5a5a;
    color: white;
}
.dataEnterSqr {
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.3);
    width: 600px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
    position:relative;
    border-radius: 100px;
}
.authMenu{
    position:absolute;
    background: rgb(187, 24, 24);
    border-radius: 50px;
    border: #06b0ff;
    background-color: rgb(187, 172, 87);
    width: 60%;
    margin-left: 20%;
    height: 40px;
    font-size: 24px;
}
#inptUsername{
    margin-top: 50%;
}
#inptPassword{
    margin-top: 70%;
}
#mainBlock{
    pointer-events: none;
    opacity: 0;
}
.headerBlock{
    position:absolute;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: var(--headerHeight); 
    margin-top: 0px;
    margin-left: 0px;
}
.contentBlock{
    position:absolute;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    opacity: 1;
    width: calc(100%  - 100px);
    height: calc(100% - var(--headerHeight) - 100px);
    margin-left: 50px;
    margin-top: calc(var(--headerHeight) + 50px);
    --marginLeft: 15%;
}
.tileLbl{
    position:absolute;
    width: 200px;
    font-size: 36px;
    padding: 30px;
    margin: 10px auto;
    text-align: justify;
    color: rgb(3, 15, 85);
}
#tileLbl1{
    margin-left: 10px;
    margin-top: 20px;
}
#tileLbl4{
    font-size: 16px;
    margin-top: 120px;
    margin-left: 10px;
}
#tileLbl2{
    margin-left: 80px;
    margin-top: 60px;
}
#tileLbl3{
    margin-left: 250px;
    margin-top: 100px;
    width: 100px;
}
.labelUnity{
    /* border-right: 2px dashed black; */
    width:  var(--labelUnity-width);
    height: 200px;
    font: small-caps bold 24px/1 sans-serif;
}
#underTitleLbl{
    position:absolute;
    width: 28%;
    font-size: 18px;
    padding-top: 130px;
    padding-left: 50px;
    margin: 10px auto;
    text-align: justify;
    color: rgb(20, 13, 13);
}
.profile{
    position: absolute;
    margin-left: calc(100% - var(--profile-width));
    margin-top: calc(var(--headerHeight) - var(--height-Profile));
    /* border: 2px solid black; */
    width:  var(--profile-width);
    height: var(--height-Profile);
    font-size: 24px;
    color: rgb(0, 0, 109);
    font-weight:400;
    --height-Profile: calc(var(--headerHeight) / 3);
}
#nickForLabel:hover{
    color:black !important;
}
#profIcon{
    margin-top: 10px;
    width: 48px;
}
.navigationPanel{
    position: absolute;
    margin-left: calc(var(--labelUnity-width) + 3px);
    width: calc(100% - var(--labelUnity-width) - var(--profile-width) - 5px);
    padding: 0px;
    list-style-type: none;
}
li {
    display: line;
    float: left;
    width: calc(100% / 5);
    height:var(--height-NavPanel);
}
li a {
    margin-top: calc(var(--headerHeight) - var(--height-NavPanel) - 47px);
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: left;
    padding-top: var(--height-NavPanel);
    background-color: none;
    font: 32px "Fira Sans", sans-serif;
    font-weight:normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
li a:hover{
    color: black !important;
}
#nickForLabel{
    /* font: small-caps lighter 24px/1 sans-serif; */
    margin-left: 10px;
    font: 27px "Fira Sans", sans-serif;
    font-weight:normal;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

