@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    --like-btn-size-scale: 0.33;
    --tournamnets-on-the-page: 5;
    /* --gradient-deg-bg: 0deg; */
}

body {
    position: fixed;
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    background: linear-gradient(90deg, #aeffbb, #fcd271, #fad276, #f8676c);
    /* background: linear-gradient(var(--gradient-deg-bg), #ee0979, #ff6a00 ); */
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 50% 0%;
    }
}

.dataEnterSqr {
    position: absolute;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 25% 10% 15% 20% 20%;
    z-index: -1;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
    width: 500px;
    height: 650px;
}
#authMnuBtns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "login login"
    "signUp googleUp";
}
#btnSignIn{
    grid-area: login;
}
#noaccLink{
    grid-area: signUp;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.7);
}
#noaccLink:hover{
    background-color: rgb(255, 255, 255);
}
#gooleSignIn{
    grid-area: googleUp;
    background-color: rgba(255, 0, 0, 0.5);
    width: 95%;
    justify-self: center;
    align-self: center;
}
#gooleSignIn:hover{
    background-color: rgba(255, 0, 0, 0.8);
}
div.dataEnterSqr>* {
    width: 70%;
    margin-left: 15%;
}

#isignIn {
    display: block;
    position: relative;
    font-family: arial;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

#lblErrorOutput {
    position: relative;
    display: block;
    height: 24px;
    font-size: 18px;
    color: rgb(240, 66, 66);
}

.authMenu {
    position: relative;
    border-radius: 50px;
    border: none;
    height: 40px;
    font-size: 24px;
    margin-bottom: 50px;
}

.btnsForm {
    position: relative;
    height: 36px;
    border-radius: 18px;
    border: none;
    background-color: #c08f5afd;
    color: white;
    text-align: center;
    font-size: 18px;
}

.btnsForm:hover {
    background-color: #c78b4ac7;
}

.btnsChangeForm {
    position: relative;
    background-color: white;
    color: #5a5a5a;
    margin-top: 10%;
}

.authMenu::placeholder {
    opacity: 0.5;
}

#mainBlock {
    display: none;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 65px;
    grid-template-rows: 150px 1fr;
}

.headerBlock {
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 150px;
    margin: 0px;
}

.tileLbl {
    position: relative;
    display: block;
    align-self: center;
    justify-self: center;
    font-size: 36px;
    color: rgb(3, 15, 85);
}

#tileLbl4 {
    align-self: flex-start;
    justify-self: center;
    margin-left: 10px;
    font-size: 16px;
    word-spacing: 5px;
}

.labelUnity {
    display: grid;
    font: small-caps bold 18px sans-serif;
    font-family: 'Cinzel Decorative', cursive;
    font-family: 'Krona One', sans-serif;
}

.profile {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 60px 1fr;
    grid-template-areas:
        "iconProf nickProf"
        "idProf idProf"
        "eMailProf eMailProf"
    ;
    background-color: transparent;
    font-size: 24px;
    color: rgb(0, 0, 109);
    font-weight: 400;
    width: 200px;
}

#ID {
    grid-area: idProf;
    align-self: center;
    justify-self: center;
    width: 80%;
    border-bottom: 2px solid #5a5a5a;
    color: #5a5a5a;
    text-shadow: none;
    font: bold 16px/1 sans-serif;
}

#eMail {
    grid-area: eMailProf;
    align-self: center;
    justify-self: center;
    width: 80%;
    border-bottom: 2px solid #5a5a5a;
    color: #5a5a5a;
    text-shadow: none;
    font: normal 16px/1 sans-serif;
}

#nickForLabel:hover {
    color: black !important;
}

#profIcon {
    grid-area: iconProf;
    align-self: flex-end;
    margin-left: 10px;
    width: 48px;
}

.navigationPanel {
    display: flex;
    align-items: center;
    flex: 2;
    padding: 0px;
    list-style-type: none;
}

.navigationPanel li {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navigationPanel li a {
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    cursor: url('img/cena.png'), auto;
    font-size: 40px;
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
    font-family: 'Harmattan', sans-serif;
}

.navigationPanel li a.moveDown {
    animation: moveDown .2s ease forwards;
}

@keyframes moveDown {
    0% {
        transform: translate(0, 0%);
    }

    50% {
        transform: translate(0, 20%);
    }

    100% {
        transform: translate(0, 60%);
    }
}

li a:hover {
    color: black !important;
}

#nickForLabel {
    grid-area: nickProf;
    align-self: flex-end;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
    color: rgb(3, 15, 85) !important;
    text-shadow: none !important;
}

.mobileNavPanel {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0px;
    list-style-type: none;
    height: 50px;
}

.mobileNavPanel li {
    display: flex;
    justify-content: center;
    width: 20%;
    list-style-type: none;
}

.mobileNavPanel img {
    width: 42px;
}

.contentBlock {
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    margin: 1%;
    box-sizing: border-box;
}

#homePageBlock {
    display: none;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
#favoritesPageBlock{
    display: none;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
#profilePageBlock {
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
#btnLogout{
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #718bff;
    font-size: 42px;
}
#dataPageBlock {
    display: none;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#statisticPageBlock {
    display: none;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#aboutPageBlock {
    display: none;
    grid-template-rows: 1fr 50px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.tournament {
    display: grid;
    grid-template-columns: 6fr 1fr;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    background-color: rgb(255 185 93 / 40%);
}

.onTournamentInfoBlock {
    display: grid;
    grid-template-rows: 33% 64%;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "title type"
        "description maxMemb";
}

.tournamentLikeBtn {
    justify-self: center;
    align-self: center;

}

.tournament:hover {
    background-color: rgba(216, 181, 135, 0.6);
}

.footerPanel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
}

.pageNumLbl {
    justify-self: center;
    align-self: center;
    display: block;
    border: 3px solid rgb(44, 41, 37);
    border-radius: 70%;
    height: 25px;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: rgb(48, 48, 45);
    font-size: 24px;
    font-weight: bold;
}

.tournamentsPanel {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(var(--tournamnets-on-the-page), calc(100% / var(--tournamnets-on-the-page)));
    width: 100%;
}

#tournamentNameBlock {
    grid-area: title;
    font-weight: bold;
    align-self: center;
    font-family: 'Asap', sans-serif;
}

#tournamentDescriptionBlock {
    grid-area: description;
    padding: 5px 10px;
    font-family: 'Asap', sans-serif;
    font-style: italic;
}

#tournamentTypeBlock {
    grid-area: type;
    align-self: flex-end;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

#tournamentMaxMembersBlock {
    grid-area: maxMemb;
    align-self: center;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
}

.tournamentName {
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-left: 20px;
}

.tournamentDescription {
    font-family: 'Asap', sans-serif;
    font-size: 14px;
    color: black;
    font-style: italic;
    margin-left: 10px;
}

.tournamentType {
    font-family: 'Asap', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.tournamentMaxMembers {
    font-family: 'Asap', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#blackout {
    position: fixed;
    display: block;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px)
}

#tournamentInfo {
    position: fixed;
    display: none;
    z-index: 11;
    top: 3%;
    left: 3%;
    height: 94%;
    width: 94%;
    grid-template-rows: 10% 1fr 1fr 15%;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "titleAndcloseIcon titleAndcloseIcon"
        "Goals tournamentMembers"
        "Reqs tournamentMembers"
        "btns btns";
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 5%;
}

#crossIcon {
    grid-area: titleAndcloseIcon;
}
.crossIcons{
    align-self: baseline;
    justify-self: end;
    padding: 20px 20px 0 0;
    width: 48px;
}
#tournamentNameInfo {
    grid-area: titleAndcloseIcon;
    font-size: 38px;
    font-weight: bold;
    justify-self: flex-start;
    margin: 25px;
    margin-right: 75px;
    letter-spacing: 2px;
    font-family: 'Asap', sans-serif;
}

.btn-grad {
    position: absolute;
    background-image: linear-gradient(to right, #FF5F6D 0%, #FFC371 51%, #FF5F6D 100%);
    padding: 15px 80px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

#tournamentsTargetInfo {
    grid-area: Goals;
    display: list-item;
    list-style-position: inside;
}

ul {
    list-style-type: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

#tournamentMembersInfo {
    position: relative;
    grid-area: tournamentMembers;
    justify-self: end;
    align-self: baseline;
    font: normal 16px/1 sans-serif;
    line-height: 0px;
    font-family: 'Asap', sans-serif;
}

#tournamentMembersInfo li {
    list-style-type: none;
    float: none;
    padding-top: 15px;
    letter-spacing: 0px;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.userIconTI {
    width: 36px;
}

#tournamentAdminLabelInfo {
    font: small-caps bold 24px/1 sans-serif;
    letter-spacing: 2px;
    color: green;
    margin-left: -5px;
}

#tournamentMembersLabelInfo {
    font: small-caps bold 24px/1 sans-serif;
    letter-spacing: 2px;
    color: orangered;
    margin-left: -5px;
}

#tournamentCupInfo {
    position: fixed;
    opacity: 0.03;
    width: 600;
    height: 600;
    z-index: -1;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#tournamentBtnsInfo {
    grid-area: btns;
    display: inline-flex;
    justify-self: center;
    align-self: center;
}

#tournamentLikeBtnInfo {
    left: 25px;
}

#tournamentJoinInfo {
    position: relative;
}

#tournamentReqInfo {
    grid-area: Reqs;
    font-size: 10px;
    letter-spacing: 2px;
    display: list-item;
    list-style-position: inside;
}

.tournamentReqsInfo {
    font-family: 'Asap', sans-serif;
    font-weight: normal;
    list-style-type: disc;
    grid-area: Reqs;
}

#tournamentReqInfo li {
    padding: 10px;
    letter-spacing: 0px;
    margin-left: 2%;
}

#tournamentReqLabelInfo {
    grid-area: Reqs;
    font-family: 'Asap', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

#tournamentGoalsLabelInfo {
    font: bold 20px/1 Tahoma, Verdana, sans-serif;
    letter-spacing: 0px;
    margin-left: 2%;
    font-family: 'Asap', sans-serif;
    font-size: 24px;
    font-weight: bolder;
}

#tournamentsTargetInfo li {
    padding: 10px;
    letter-spacing: 0px;
    margin-left: 2%;
}

.tournamentGoalsInfo {
    font-family: 'Asap', sans-serif;
    font-weight: normal !important;
    list-style-type: disc;
    padding: 10px;
    letter-spacing: 0px;
}

.heart-like-button {
    position: relative;
    width: calc(160px * var(--like-btn-size-scale));
    height: calc(130px * var(--like-btn-size-scale));
}

.heart-like-button:before {
    position: absolute;
    top: 0;
    left: calc(80px * var(--like-btn-size-scale));
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: calc(80px * var(--like-btn-size-scale));
    height: calc(125px * var(--like-btn-size-scale));
    border-radius: calc(40px * var(--like-btn-size-scale)) calc(40px * var(--like-btn-size-scale)) 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: calc(80px * var(--like-btn-size-scale));
    height: calc(125px * var(--like-btn-size-scale));
    border-radius: calc(40px * var(--like-btn-size-scale)) calc(40px * var(--like-btn-size-scale)) 0 0;
    background-color: #574136;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #ffa033;
}

.heart-like-button.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#lockbg {
    position: fixed;
    display: none;
    opacity: 0.1;
    width: 600;
    height: 600;
    z-index: -1;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.createTournament {
    background-color: transparent;
    border: none;
    align-self: center;
    justify-self: center;
}

#createTrnIcon {
    width: 40px;
    height: 40px;
}

.prewPageTurn {
    background-color: transparent;
    border: none;
    align-self: center;
    justify-self: flex-end;
}

#prewPageIcon {
    width: 40px;
    height: 40px;
}

.nextPagTurn {
    background-color: transparent;
    border: none;
    align-self: center;
    justify-self: flex-start;
}

#nextPageIcon {
    width: 40px;
    height: 40px;
}

#tournamentCreatePanels {
    display: none;
}

#tournamentCreatePanel {
    position: fixed;
    display: none;
    z-index: 11;
    top: 1%;
    left: 2%;
    height: 98%;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    border-radius: 25px;
}
#headerCT{
    grid-area: labelCP;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60px 1fr 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#crossIcononCreate {
    width: 25px;
    align-self: center;
    justify-self: baseline;
    margin-left: 20px;
}
#creatingTournamentLbl {
    align-self: center;
    justify-self: center;
    font-size: 24px;
    font-weight: bold;
    margin: 5%;
    font-family: 'Heebo', sans-serif;
    color: #2504b8;
}

#tournamentNameInputAtCreatePanel {
    display: block;
    grid-area: titleCP;
    margin-left: 5%;
    padding: 0px;
    height: 40px;
    align-self: flex-end;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(119, 98, 212);
    font-family: 'Asap', sans-serif;
}

#typeMaxBtns {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "typeCP"
        "btnCP";
    font-family: 'Asap', sans-serif;
}

#tournamentTargetsLblAtCreatePanel {
    position: relative;
    display: block;
    justify-self: center;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
    color: #2828b1;
}
#trnEndInputCP{
    width: 250px;
}
#TargetsCreatePanel {
    grid-area: goalsCP;
    font-family: 'Asap', sans-serif;
}
#trnStartInputCP{
    width: 250px;
}
.trnTypeAtCP{
    flex: 1;
    outline: none;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}
#RequirementsCreatePanel {
    grid-area: goalsCP;
    font-family: 'Asap', sans-serif;
}

.tournamentTargetsInputAtCreatePanel {
    display: flex;
    outline: none;
    background-color: rgba(79, 142, 161, 0.1);
    border: none;
    border: 2px solid rgb(119, 98, 212);
    grid-area: tournamentTargetsInputAtCreatePanel;
}

#tournamentRequirementsLblAtCreatePanel {
    display: block;
    justify-self: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}

#tournamentRequirementsBlockAtCreatePanel {
    position: relative;
}
.dateBlockCT{
    margin-bottom: 10%;
}
.dateBlockCT > *{
margin: 10px;
}
.tournamentDateInputAtCreatePanel{
    width: 200px;
    background: transparent;
    color: #1027c9;
    font-size: 18px;
    border: 1px solid blue;
    outline: none;
}
.trndateLblUnderCP{
    color: #5a5a5a;
    font-weight: bold;
}
.trndateLblCP{
    font-size: 20px;
    font-weight: bold;
    color: #0015ab;
}
.targetsUnityCT{
    display: grid;
    grid-template-columns: 65% 23% 12%;    
    grid-template-rows: 4fr 3fr;
    grid-template-areas: 
    "tournamentTargetsInputAtCreatePanel tournamentTargetsTypeInputAtCreatePanel tournamentTargetsApproachInputAtCreatePanel"
    "tournamentTargetsDescriptInputAtCreatePanel tournamentTargetsDescriptInputAtCreatePanel tournamentTargetsDescriptInputAtCreatePanel";
}
.tournamentTargetsApproachInputAtCreatePanel{
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    border-left: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    grid-area: tournamentTargetsApproachInputAtCreatePanel;
}
.tournamentTargetsApproachInputAtCreatePanel::placeholder{
    font-size: 20px;
}
.tournamentRequirementsInputAtCreatePanel {
    display: flex;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    border-top: none;
}
.tournamentTargetsTypeInputAtCreatePanel{
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    border-left: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    grid-area: tournamentTargetsTypeInputAtCreatePanel;
}
.tournamentTargetsDescriptInputAtCreatePanel{
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    border-top: none;
    outline: none;
    grid-area: tournamentTargetsDescriptInputAtCreatePanel;
}
#tournamentDescriptionTextAreaAtCreatePanel {
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    resize: none;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    font-family: 'Asap', sans-serif;
}

#tournamentMaxMembersInputAtCreatePanel {
    position: relative;
    display: flex;
    align-self: center;
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(119, 98, 212);
    border-radius: 10px;
    font-family: 'Asap', sans-serif;
}

#tournamentTypeInputAtCreatePanel {
    display: flex;
    outline: none;
    margin: 10%;
    height: 50px;
    border: 2px solid #0015ab;
    border-radius: 15px;
}

#tournamentTypeInputAtCreatePanel fieldset {
    border: none;
}
.mainLblInfoJT{
    font-size: 24px;
    font-weight: bold;
    color:#2828b1;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
}
.timerDataJT{
    flex: 2;
    font-size: 20px;
    font-weight: bold;
    color: green;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#tournamentTypeInputAtCreatePanel fieldset input {
    margin-top: 25px;
}

#tournamentCreateBtn {
    background-image: linear-gradient(to right, #a45fff 0%, #718bff 51%, #5ff4ff 100%);
    padding: 15px 0px;
    position: static;
}

#outputMsgLbl {
    display: block;
    position: relative;
    margin-top: 30%;
    max-width: 80%;
    font-size: 28px;
    color: white;
}

#outputMsgBtn {
    position: relative;
    margin-top: 50px;
    margin-left: 40%;
    width: 20%;
    background-color: transparent;
    font-size: 36px;
    color: white;
}

#tournamentSwitchPageBtn {
    padding: 10px 10px;
    grid-area: btnsm;
    justify-self: center;
    width: 35%;
    height: 40px;
    background-image: linear-gradient(to right, #a45fff 0%, #718bff 51%, #5ff4ff 100%);
}
#btnResetJTdata{
    position: inherit;
    background-image: linear-gradient(to right, #FF5F6D 0%, #ff5b2a 51%, #FF5F6D 100%);
    flex: 1;
    padding: 0;
    height: 45px;
}
#trnNumsbtn {
    background-color: transparent;
    border: none;
}

.numsOfTrnsOnthePage {
    background-image: url('img/trnNumsIcon.png');
    background-size: contain;
    background-color: transparent;
    width: 50px;
    border: none;
    outline: none;
    appearance: none;
    color: transparent;
}
#trnsTOshow{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.numsOfTrnsOnthePageOpt {
    color: black
}

#joinedTournament{
    position: fixed;
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
    "headerJT"
    "a"
    "footerJT";
    top: 1%;
    left: 2%;
    height: 98%;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid white;
    border-radius: 25px;
}
#headerJT{
    grid-area: headerJT;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60px 1fr 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#footerJT{
    grid-area: footerJT;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 100%;
}
#btnNavJT{
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
    color: #6146d8;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-left: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a;
}
#btnNavJT:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.pageSwitchJT{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.pageSwitchJT:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
#btnLeaveTrn{
    position: inherit;
    padding: 0;
    height: 50px;
    place-content: center;
}

#crossIconJT{
    width: 25px;
    align-self: center;
    justify-self: baseline;
    margin-left: 20px;
}
#pageNameJT{
    align-self: center;
    justify-self: center;
    font-size: 24px;
    font-weight: bold;
    margin: 5%;
    font-family: 'Heebo', sans-serif;
    color: #2504b8;
}
#nameJT{
    align-self: center;
    justify-self: center;
    font-size: 28px;
    font-weight: bold;
    margin: 5%;
}
.trnIconJT{
    align-self: center;
    justify-self: flex-end;
    width: 42px;
    margin-right: 20px;
}
#trnIconJT:hover{
    transform: scale(1.5);
}
#navPanelJT{
    position: fixed;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}
.navPanBtnsJT{
    z-index: 1000;
    width: 80%;
    height: 100%;
    justify-self: center;
    align-self: baseline;
    font-size: 28px;
    color: wheat;
    background-color: transparent;
    font-weight: bold;
}
#navPanelJTclose{
    color: red;
}
#mainPageJT{
    display: none;
}
#statisticsPageJT{
    display: none;
}
#dataPageJT{
    display: none;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "dataBlocksJT dataLeadersBlockJT"
    "footerDateBlock dataLeadersBlockJT";
}
#footerDateBlock{
    grid-area: footerDateBlock;
}
#dataBlocksJT{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: stretch;
    grid-area: dataBlocksJT;
}
.dataBlockJT{
    width: 100%;
    grid-area: dataBlockJT;
    text-align: center;
}
#btnEditJTdata{
    position: inherit;
    height: 45px;
    flex: 2;
    padding: 0;
    background-image: linear-gradient(to right, #a45fff 0%, #718bff 51%, #5ff4ff 100%);
}
.dataJTinputs{
    height: 40px;
    width: 90%;
    background-color: transparent;
    outline: none;
    border-radius: 15px;
    border: 2px solid rgb(119 98 212);
    font-size: 28px;
    color: #6859ab;
    padding: 5px 5px;
    margin: 0px 1%;
    text-align: center;
    grid-area: dataJTinputs;
    align-self: center;
    justify-self: center;
}
.lblAndInputDataJT{
    text-align: center;
    margin: 0px 1%;
    flex: 1;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20px 1fr;
    grid-template-areas: "labelCounter labelCounter labelCounter"
    "btnsRowLeft dataJTinputs btnsRowRight";
}
.btnsRowLeft{
    grid-area: btnsRowLeft;
    background: transparent;
    border: none;
}
.moveLeftDateInput{
    animation: 0.3s linear 0s forwards moveLeftDate;
}
.moveRightDateInput{
    animation: 0.3s linear 0s forwards moveRightDate;
}
.moveFromLeftDateInput{
    animation: 0.3s linear 0s forwards moveFromLeftDate;
}
.moveFromRightDateInput{
    animation: 0.3s linear 0s forwards moveFromRightDate;
}
@keyframes moveLeftDate {
    from {
        transform: translate(0, 0);
        width: 90%;
    }
    to{
        transform: translate(-150%, 0);
        width: 35%;
    }
}
@keyframes moveRightDate {
    from {
        transform: translate(0, 0);
        width: 90%;
    }
    to{
        transform: translate(150%, 0);
        width: 35%;
    }
}
@keyframes moveFromLeftDate {
    from {
        transform: translate(-150%, 0);
        width: 35%;
    }
    to{
        transform: translate(0, 0);
        width: 90%;
    }
}
@keyframes moveFromRightDate {
    from {
        transform: translate(150%, 0);
        width: 35%;
    }
    to{
        transform: translate(0, 0);
        width: 90%;
    }
}
.btnsRowRight{
    grid-area: btnsRowRight;
    background: transparent;
    border: none;
}
.dataJTinputs::placeholder{
    font-size: 20px;
}
#dataLeadersBlockJT{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    grid-area: dataLeadersBlockJT;
}
.inputsUnityDataJT{
    display: flex;
}
.lblsUnityDataJT{
    width: fit-content;
    display: flex;
}
.labelCounter{
    color: #5a5a5a;
    font-size: 18px;
    font-weight: bold;
    grid-area: labelCounter;
}
.dataJTlabels{
    padding: 10px 0px;
    font-size: 28px;
    font-weight: bold;
    color: #0015ab;
    text-transform: uppercase;
    font-family: 'Asap', sans-serif;;
}

#leadersPageJT{
    display: none;
}
#settingsPageJT{
    display: none;
    grid-template-columns: 100%;
    grid-template-rows: 90%, 10%;
}


@media screen and (min-device-width: 0px) {
    #mainBlock {
        grid-template-rows: 1fr 50px;
    }

    #tournamentCreatePanel {
        grid-template-rows: 50px 50px 5fr 2fr 75px;
        grid-template-columns: 100%;
        grid-template-areas:
            "labelCP"
            "titleCP"
            "goalsCP"
            "reqsCP"
            "btnsm";
    }

    #TargetsCreatePanel {
        padding: 5%;
        padding-top: 20px;
    }

    #RequirementsCreatePanel {
        padding: 0% 5%;
        grid-area: goalsCP;
    }

    #creatingTournamentLbl {
        font-size: 24px;
        letter-spacing: 1px;
        width: 275px;
    }

    #typeMaxBtns {
        grid-area: reqsCP;
    }

    #tournamentNameInputAtCreatePanel {
        width: 90%;
        font-size: 20px;
    }

    #tournamentTargetsLblAtCreatePanel {
        font-size: 20px;
        letter-spacing: 1px;
        padding-bottom: 5%;
    }

    .tournamentTargetsInputAtCreatePanel {
        font-size: 20px;
    }
    #tournamentRequirementsLblAtCreatePanel {
        font-size: 20px;
    }

    .tournamentRequirementsInputAtCreatePanel {
        height: 30px;
        width: 100%;
        font-size: 20px;
    }

    #tournamentDescriptionTextAreaAtCreatePanel {
        height: 50%;
        width: 90%;
        font-size: 16px;
        grid-area: reqsCP;
    }

    #tournamentMaxMembersInputAtCreatePanel {
        width: 150px;
        height: 30px;
        font-size: 18px;
        grid-area: reqsCP;
        justify-self: flex-end;
    }

    #tournamentTypeInputAtCreatePanel {
        font-size: 18px;
        grid-area: reqsCP;
    }

    #tournamentCreateBtn {
        padding: 10px 10px;
        grid-area: btnsm;
        width: 35%;
        justify-self: flex-end;
        height: 40px;
    }

    .mobileNavPanel {
        display: flex;
    }

    .labelUnity {
        display: none;
    }

    .headerBlock {
        display: none;
    }

    .tournamentName {
        font-size: 24px;
    }

    .tournamentDescription {
        font-size: 14px;
    }

    .tournamentType {
        font-size: 12px;
    }

    #tournamentsTargetInfo {
        font-size: 16px;
    }

    #tournamentReqInfo {
        font-size: 16px;
    }

    #tournamentAdminLabelInfo {
        font-size: 20px;
    }

    #tournamentMembersLabelInfo {
        font-size: 20px;
    }

    #tournamentReqLabelInfo {
        font-size: 20px;
    }

    #tournamentGoalsLabelInfo {
        font-size: 20px;
    }

    #tournamentNameInfo {
        font-size: 28px;
    }
    #dataLeadersBlockJT{
        display: none;
    }
    #dataPageJT {
        grid-template-columns: 100% 0%;
    }

    @media screen and (min-device-width: 600px) {
        #mainBlock {
            grid-template-rows: 100px 1fr;
        }

        #tournamentCreatePanel {
            grid-template-rows: 50px 10% 50% 30%;
            grid-template-columns: 50% 50%;
            grid-template-areas:
                "labelCP labelCP"
                "titleCP titleCP"
                "goalsCP reqsCP"
                "descript typeMaxCreate";
        }

        #TargetsCreatePanel {
            padding: 10%;
        }

        #RequirementsCreatePanel {
            padding: 10%;
            grid-area: reqsCP;
        }
        #typeMaxBtns {
            grid-area: typeMaxCreate;
        }

        #tournamentNameInputAtCreatePanel {
            width: 35%;
            font-size: 28px;
        }

        #tournamentTargetsLblAtCreatePanel {
            font-size: 28px;
            letter-spacing: 1px;
        }

        .tournamentTargetsInputAtCreatePanel {
            font-size: 24px;
        }
        #tournamentRequirementsLblAtCreatePanel {
            font-size: 28px;
        }

        .tournamentRequirementsInputAtCreatePanel {
            height: 50px;
            font-size: 24px;
        }

        #tournamentDescriptionTextAreaAtCreatePanel {
            grid-area: descript;
            height: 80%;
            width: 80%;
            font-size: 24px;
        }

        #tournamentTypeInputAtCreatePanel {
            grid-area: typeCP;
            justify-self: center;
            width: 50%;
            font-size: 28px;
        }

        #tournamentCreateBtn {
            grid-area: btnCP;
            justify-self: center;
            align-self: center;
            width: 50%;
        }

        .headerBlock {
            height: 100px;
            display: flex;
        }

        .mobileNavPanel {
            display: none;
        }

        .labelUnity {
            display: none;
        }

        .profile {
            display: grid;
            font-size: 18px;
        }

        .tournamentName {
            font-size: 28px;
        }

        .tournamentDescription {
            font-size: 18px;
        }

        .tournamentType {
            font-size: 16px;
        }

        #tournamentsTargetInfo {
            font-size: 20px;
        }

        #tournamentReqInfo {
            font-size: 20px;
        }

        .NavPanelBtns {
            font-size: 24px;
        }

        #tournamentMembersInfo {
            font-size: 20px;
        }

        #tournamentAdminLabelInfo {
            font-size: 24px;
        }

        #tournamentMembersLabelInfo {
            font-size: 24px;
        }

        #profIcon {
            width: 36px;
        }

        .navigationPanel li a {
            font-size: 30px;
        }

        #tournamentNameInfo {
            font-size: 34px;
        }
        #dataLeadersBlockJT{
            display: none;
        }
        #dataPageJT {
            grid-template-columns: 100% 0%;
        }
        @media screen and (min-device-width: 1100px) {
            .profile {
                font-size: 24px;

            }

            #mainBlock {
                grid-template-rows: 150px 1fr;
            }

            .headerBlock {
                height: 150px;
                display: flex;
            }

            .labelUnity {
                display: grid;
            }

            .mobileNavPanel {
                display: none;
            }

            #tournamentsTargetInfo {
                font-size: 24px;
            }

            .NavPanelBtns {
                font-size: 32px;
            }

            #tournamentMembersInfo {
                font-size: 17px;
            }

            #tournamentGoalsLabelInfo {
                font-size: 24px;
            }

            #tournamentReqLabelInfo {
                font-size: 24px;
            }

            #profIcon {
                width: 48px;
            }

            .navigationPanel li a {
                font-size: 40px;
            }

            #tournamentNameInfo {
                font-size: 38px;
            }
            #dataLeadersBlockJT{
                display: grid;
            }
            #dataPageJT {
                grid-template-columns: 70% 30%;
            }
        }
    }
}