@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@600&display=swap');
html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    --headerHeight: 150px;
    --labelUnity-width: 25%;
    --navigationPanel-width: calc(100% - var(--labelUnity-width) - var(--profile-width) - 5px);
    --NavPanel-top: calc(var(--headerHeight) - var(--NavPanel-height));
    --NavPanel-height: 40px;
    --profile-width: 15%;
    --height-dataEnterSqr: 650px;
 }
 
 body {
    position: fixed;
    margin: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;   
    padding: 0;
    background: linear-gradient(90deg, #c6ffdd, #fbd786, #f7797d);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 50% 0%;
	}
}
.btnsForm{
    position: relative;
    width: 60%;
    margin-left: 20%;
    margin-top: 15%;
    height: 36px;
    border-radius: 18px;
    background-color: #c9a277c7;
    border: 0px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 18px;
    border: 2px solid #c9a277c7;
}
.signUp{
    pointer-events: none;
    opacity: 0;
}
.signIn{
    pointer-events:visible;
    opacity: 1;
}
#isignIn{
    position:relative;
    font-family: arial;
    font-size: 50px;
    color: white;
    width: 60%;
    margin-left: 35%;
}
.btnsForm:hover{
    background-color: #c78b4ac7;
    border: 2px solid #c78b4ac7;
}
.btnsChangeForm{
    position: relative;
    background-color: white;
    border: 2px solid white;
    color: #5a5a5a;
    margin-top: -15%;
}
.btnsChangeForm:hover{
    background-color: rgb(233, 232, 232);
    border: 2px solid rgb(233, 232, 232);
}
.dataEnterSqr {
    position:absolute;
    display: block;
    z-index: -1;
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.3);
    width: var(--width-dataEnterSqr);
    height: var(--height-dataEnterSqr);
    margin-left: calc((100% - var(--width-dataEnterSqr)) / 2);
    margin-top: 10%; 
    padding-top: 5%;
    align-items: center;
     border-radius: 15%;
    --width-dataEnterSqr: 600px;
}
.authMenu{
    position:relative;
    background: rgb(187, 24, 24);
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin-left: 20%;
    height: 40px;
    font-size: 24px;
    margin-top: 10%;
}
.authMenu::placeholder {
    opacity: 0.5;
}
#mainBlock{
    pointer-events: none;
    opacity: 0;
    width: 0%;
    height: 0%;
}
.headerBlock{
    position:absolute;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: var(--headerHeight); 
    margin-top: 0px;
    margin-left: 0px;
}
.contentBlock{
    position:absolute;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, 0.3);
    opacity: 1;
    width: 96%;
    height: calc(100% - var(--headerHeight) - 6%);
    margin-left: 2%;
    margin-top: var(--contentBlock-Top);
    --contentBlock-Top: calc(var(--headerHeight) + 2%);
}
.tileLbl{
    position:absolute;
    width: 15%;
    font-size: 160%;
    margin: calc(var(--headerHeight) / 200);
    text-align:start;   
    color: rgb(3, 15, 85);
}
#tileLbl1{
    margin-left: 1%;
    margin-top: calc(var(--headerHeight) / 10);
}

#tileLbl2{
    margin-left: 4%;
    margin-top: calc(var(--headerHeight) / 3);
}
#tileLbl3{
    margin-left: 13%;
    margin-top: calc(var(--headerHeight) / 1.67);
    width: 6%;
}
#tileLbl4{
    font-size: 65%;
    margin-top: calc(var(--headerHeight) / 1.4);
    margin-left: 1%;
    width: 12%;
}
.labelUnity{
    width:  var(--labelUnity-width);
    height: var(--headerHeight);
    font: small-caps bold 115% sans-serif;
}
.profile{
    position: absolute; 
    background-color:transparent;
    margin-left: calc(100% - var(--profile-width));
    margin-top: 0px;
    width:  100%;
    height: var(--headerHeight);
    font-size: 24px;
    color: rgb(0, 0, 109);
    font-weight:400;
    --height-Profile: 70px;
}
#ID{
    display:flex;
    position: relative;
    border-bottom: 2px solid black;    
    margin-top: 10px;
    padding-bottom: 5px;
    width: calc(var(--profile-width) - var(--profile-width) / 10);
    height: 12px;
    color:#5a5a5a;
    text-shadow: none;
    font: small-caps bold 16px/1 sans-serif;
}
#eMail{
    display:flex;
    position: relative;
    border-bottom: 2px solid black;  
    padding-bottom: 5px;
    margin-top: 15px;  
    width: calc(var(--profile-width) - var(--profile-width) / 10);
    height: 12px;
    color:#5a5a5a;
    text-shadow: none;
    font: small-caps bold 16px/1 sans-serif;
}
#nickForLabel:hover{
    color:black !important;
}
#profIcon{
    margin-top: 10px;
    width: 48px;
}
.navigationPanel{
    position: absolute;
    margin-left: 0px;
    width: var(--navigationPanel-width);
    padding: 0px;
    list-style-type: none;
    margin-top: calc(var(--headerHeight) - var(--NavPanel-height));
    height: var(--NavPanel-height);
    z-index: 999;
}
li {
    float: left;
    width: calc(100% / 5);
}
li a {
    display: block;
    margin-top: 0px;
    height: 100%;
    width: 99%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: none;
    font: 250% "Fira Sans", sans-serif;
    font-weight:normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
li a:hover{
    color: black !important;
}
#nickForLabel{
    /* font: small-caps lighter 24px/1 sans-serif; */
    margin-left: 1%;
    font: 80% "Fira Sans", sans-serif;
    font-weight:bolder;
    color: rgb(3, 15, 85) !important;
    text-shadow: none !important;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.mobileNavPanel {
    float: none;
    display: inline-block;
    opacity: 1;
    pointer-events: visible;
    position: absolute;
    margin-top: calc(-1 * var(--headerHeight));
    margin-left: -44px; /* magic number 44 */
    list-style-type: none;
    height: calc(var(--headerHeight) - 4px);
    width: 100%;
}
.mobileNavPanel li {
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.mobileNavPanel img {
    margin-left: calc((100% - var(--width-img)) / 2);
    margin-top: 10px;
    width: var(--width-img);
    --width-img: 42px;
}

